# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.log
*.ilk
*.pdb
*.obj
*.tlog
bin/Release
bin/Debug
proj/PlusyUjemne.opensdf
proj/Debug/vc120.idb
proj/PlusyUjemne.v12.suo
proj/PlusyUjemne.v12.suo
